/**
    Cinema Movies Showcase Widget Styles
 */
.cinema-movies-showcase-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center
}

.cinema-movies-showcase-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.cinema-movies-showcase-card {
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}

.cinema-movies-showcase-card__overlay {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.5) 49%, rgba(0, 0, 0, 0.3) 93%);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.cinema-movies-showcase-card:hover .cinema-movies-showcase-card__title, .cinema-movies-showcase-card:hover .cinema-movies-showcase-card__overlay {
    opacity: 1;
    -webkit-transition: all 0.45s ease-in-out 0s;
    -moz-transition: all 0.45s ease-in-out 0s;
    transition: all 0.45s ease-in-out 0s;
}

.cinema-movies-showcase-card__title {
    opacity: 0;
    color: white;
    text-align: center;
    z-index: 100;
}

/**
    Commercials Widget Styles
 */
.commercials-widget .commercials-widget__img-container {
    object-fit: cover;
    width: 100%;
    border-radius: 0 15px;
}

/**
    Card Preview Widget Styles
 */
.card-preview-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center
}

.card-preview-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.card-preview-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 400px;
}

.card-preview-card {
    position: relative;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    border-radius: 0 15px;
    width: 400px;
}

.card-preview-card__play_img_overlay {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    text-align: center;
}

.card-preview-card__title {
    text-align: center;
    z-index: 100;
    word-break: break-word;
}

/*
    News Widget Style
 */
.news-widget-container {
    height: 450px;
}

.news-widget-card:nth-child(5),
.news-widget-card:nth-child(8),
.news-widget-card:nth-child(11) {
    border-right: 2px solid #707070;
    border-left: 2px solid #707070;
}

.news-widget-card {
    text-align: center;
    padding: 0 20px;
}

.news-widget__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0 15px !important;
}

.news-widget__title {
    font-size: 26px;
    margin: 1rem 0;
    color: #000;
    font-family: 'Cormorant Garamond', serif;
}

.news-widget-description-container {
    padding: 0 20px;
    font-size: 14px;
}

.news-widget__excerpt {
    margin-bottom: 1rem;
    color: #000;
}

.news-widget__read_more {
    color: #000 !important;
}

.news-widget__read_more:hover {
    color: #015eab !important;
}

.news-widget__arrows {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.news-widget__count {
    color: #000;
    font-size: 22px;
}

.slick-prev,
.slick-next {
    background: transparent;
    color: #707070;
    border: none;
}

.slick-prev:hover,
.slick-prev:active,
.slick-next:hover,
.slick-next:active,
.slick-prev:focus,
.slick-next:focus {
    border: none;
    color: #000;
    background: transparent;
}

@media only screen and (max-width: 767px) {
    .news-widget-container {
        height: 100%;
    }

    .news-widget-card:nth-child(5),
    .news-widget-card:nth-child(8),
    .news-widget-card:nth-child(11) {
        border: none;
    }

    .news-widget__arrows {
        margin-top: 1rem !important;
    }
}

@media only screen and (max-width: 1023px) {
    .news-widget-container {
        height: 100%;
    }

    .news-widget-card:nth-child(5),
    .news-widget-card:nth-child(8),
    .news-widget-card:nth-child(11) {
        border: none;
    }

    .news-widget__arrows {
        margin-top: 2rem;
    }
}

/**
    Event Repertoire Widget Styles
 */
.event-repertoire-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center
}

.event-repertoire-wrapper {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    gap: 15px !important;
}

.event-repertoire-card {
    width: 310px;
    height: 230px;
    position: relative;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 10px 8px;
    overflow: hidden;
    border-radius: 0 15px;
}

@media only screen and (max-width: 672px) {
    .event-repertoire-card,
    .card-preview-wrapper,
    .card-preview-card,
    .card-preview-card-wrapper {
        width: 100%;
    }
}

.event-repertoire-card--scenski-program {
    border: 2px solid #FF0000;
}

.event-repertoire-card--deciji-program {
    border: 2px solid #FFAA00;
}

.event-repertoire-card--muzicki-program {
    border: 2px solid #FF00FF;
}

.event-repertoire-card--knjizevni-program {
    border: 2px solid #924205;
}

.event-repertoire-card--likovni-program {
    border: 2px solid #00C2FF;
}

.event-repertoire-card--tribinski-program {
    border: 2px solid #7B1717;
}

.event-repertoire-card--izdavacki-program {
    border: 2px solid #FF8000;
}

.event-repertoire-card--filmski-program {
    border: 2px solid #0044FF;
}

.event-repertoire-card--amaterski-program {
    border: 2px solid #057A18;
}

.event-repertoire-card--umetnost-fotografije {
    border: 2px solid #9100FF;
}

.event-repertoire-card--projektni-program {
    border: 2px solid #017087;
}

.event-repertoire-card--odnos-s-javnoscu {
    border: 2px solid #110F51;
}

.event-repertoire-card--none {
    border: 2px solid darkslategray;
}

.event-repertoire-card__title {
    color: white;
    word-break: break-word;
}

.event-repertoire-card__program-sticker {
    position: absolute;
    left: 0;
    top: 20px;
}

.program-sticker {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 8px;
    color: white;
    font-size: 12px;
}

.program-sticker--scenski-program {
    background-color: #FF0000;
}

.program-sticker--deciji-program {
    background-color: #FFAA00;
}

.program-sticker--muzicki-program {
    background-color: #FF00FF;
}

.program-sticker--knjizevni-program {
    background-color: #924205;
}

.program-sticker--likovni-program {
    background-color: #00C2FF;
}

.program-sticker--tribinski-program {
    background-color: #7B1717;
}

.program-sticker--izdavacki-program {
    background-color: #FF8000;
}

.program-sticker--filmski-program {
    background-color: #0044FF;
}

.program-sticker--amaterski-program {
    background-color: #057A18;
}

.program-sticker--umetnost-fotografije {
    background-color: #9100FF;
}

.program-sticker--projektni-program {
    background-color: #017087;
}

.program-sticker--odnos-s-javnoscu {
    background-color: #110F51;
}

.program-sticker--none {
    background-color: darkslategray;
}

.program-sticker__title {
    text-transform: uppercase;
}

.event-repertoire-card__time-sticker {
    position: absolute;
    right: 20px;
    top: 0;
    width: 67px;
}

.event-repertoire-card__time-sticker__date-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 5px 0;
}

.event-repertoire-card__time-sticker__date-wrapper__month {
    font-size: 13px;
}

.event-repertoire-card__time-sticker__date-wrapper__day {
    font-size: 20px;
    margin-top: -5px;
}

.event-repertoire-card__time-sticker__time-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 13px;
    padding: 0 5px;
}

.event-repertoire-card__name_location {
    color: white;
}

.event-repertoire-card__name_location__name {
    color: white;
}

.event-repertoire-card__name_location__location {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}


/*
    News Ticker Widget Style
 */

.news-ticker-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 2rem;
    border: 1px solid #707070;
    border-radius: 10px;
}

.news-ticker__title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #015eab;
    width: 15%;
    height: 100%;
    z-index: 10;
}

.news-ticker__title h5 {
    font-size: 1rem;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
}

.news-ticker__wrap {
    width: 100%;
    overflow: hidden;
    height: 2rem;
    padding-left: 100%;
    box-sizing: content-box;
}

.news-ticker__ticker {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 25s;
    animation-duration: 25s;
}


.news-ticker__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 1rem;
    border-right: 1px solid #e8e8e8;
}

.news-ticker__item a {
    color: #000;
}

.news-ticker__item-read-more {
    color: #015eab;
    font-size: .8rem;
    text-decoration: underline;
    margin-left: .5rem;
}

@media screen and (max-width: 768px) {
    .news-ticker__title{
        padding-top: .3rem;
        width: 20%;
    }
    .news-ticker__title h5 {
        font-size: .8rem;
    }
}


@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

/*
    Hero slider
 */
.hero-slider-container{
    position: relative;
}

.hero-slider-controls{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
}

.hero-slider-controls .slick-prev,
.hero-slider-controls .slick-next {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    background: rgba(0,0,0,0.4);
    color: #fff;
    height: 70px;
    width: 45px;
    padding: 0;
    text-align: center;
    outline: none;
    transition: all 0.45s ease-in-out;
}

.hero-slider-controls .slick-prev:hover,
.hero-slider-controls .slick-next:hover,
.hero-slider-controls .slick-prev:active,
.hero-slider-controls .slick-next:active,
.hero-slider-controls .slick-prev:focus,
.hero-slider-controls .slick-next:focus{
    border: 1px solid rgba(0,0,0,0.4);
    color: rgba(0,0,0,0.4);
    background-color: transparent;
}

.hero-slider-controls .slick-prev{
    left: -75px;
}
.hero-slider-controls .slick-next {
    right: -75px;
}


.hero-slider-wrapper{
    display: flex !important;
    width: 100%;
    height: 500px;
}

.hero-slider-image{
    width: 50%;
    height: 100%;

}
.hero-slider-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 20px;
}
.hero-slider-info{
    width: 50%;
    height: 100%;
    padding: 3em 2em;
}

.hero-slider-info__program{
    margin-bottom: .75rem;
}

.hero-slider-info h2{
    font-size: 30px;
}

.hero-slider-info a{
    color: #707070;
}

.hero-slider-info__top{
    height: 200px;
}
.hero-slider-info__date-time{
    position: absolute;
    bottom: 10%;
}

@media screen and (max-width: 992px) {
    .hero-slider-info__date-time{
        top: 80%;
    }
    .hero-slider-info{
        padding: 3em 0;
    }
    .hero-slider-info h2{
        font-size: 25px;
    }
    .hero-slider-controls{
        display: none;
    }
    .hero-slider-wrapper{
        flex-wrap: wrap;
        height: auto;
    }
    .hero-slider-info__top{
        height: 180px;
    }
    .hero-slider-image{
        width: 100%;
        height: 500px;
    }
    .hero-slider-info{
        width: 100%;
    }
}

/*
    Teams Widget Style
 */

.teams-widget-card {
    text-align: center;
    margin-bottom: 2rem;
}

img.teams-widget-card__image {
    object-fit: cover;
    border-radius: 0 15px;
    width: 200px;
}

h2.teams-widget-card__full_name {
    margin-top: 0.75rem !important;
}

p.teams-widget-card__job_title {
    margin-top: 0 !important;
    margin-bottom: 0.75rem;
}

p.teams-widget-card__job_title,
a.teams-widget-card__email {
    color: #707070 !important;
}

a.teams-widget-card__email:hover {
    color: #015eab !important;
}